# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Misc
.DS_Store
.idea
coverage

# Production Config
config/security.env.prod
yarn-error.log

