# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Misc
.DS_Store
.idea
coverage

# Yarn stuff
yarn-error.log

# Ignore .env files
config/*.env
!config/test-offline.env

# https://github.com/trek10inc/serverless-secrets#processing-during-packaging
.serverless-secrets.json

# dynamodb-local binaries and db
app-backend/.dynamodb