# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Misc
.DS_Store
.idea
coverage

# Yarn stuff
yarn-error.log

# Each developer has their own dev.env
config/dev.env

