# 1. Copy this file to default.env in this directory
# 2. Modify the "STAGE=" variable so it is set to your name
# This will cause "yarn deploy" to deploy to a serverless stage
# with your name. Boom! Isolated developer environments!

STAGE=# your-name-here

# Add other defaults here

# serverless debugging flag ON
SLS_DEBUG=*

# set TTL of the authorizer cache (default in dev is 0)
AUTHORIZER_TTL=300

