# Copy this file to dev.env in this directory
DEVELOPER=# your name here

# Serverless will use this value for STAGE when deploying
# to the dev-precisely AWS environment

# Note that the stage-precisely and prod-precisely accounts always use
# STAGE=stage and STAGE=prod, respectively
